@model Modeler.Models.User
@{ 
   
}
<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/css/css/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

</head>
<body>
    <div>
        <link href="~/Content/css/Login-1.1.css" rel="stylesheet" type="text/css">


        @using (Html.BeginForm("Autherize", "Login", FormMethod.Post))
    {
        <table class="login">
            <tr>
                <td></td>
                <td style="text-decoration:underline">LOG IN</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.UserName)
                </td>
                <td>
                    @Html.EditorFor(model => model.UserName)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.UserName)</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.Password)</td>
                <td>@Html.EditorFor(model => model.Password)</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.Password)</td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                </td>
                </tr>
            <tr>
                <td>
            <input type="radio" name="UserType" value="Patient" checked="checked">Patient
                    </td>
                <td>
            <input type="radio" name="UserType" value="Doctor">Doctor
        </td>
</tr>

<tr>
            
            <td class="input" style="padding-bottom: 10px;padding-left: 110px;padding-top: 10px;">
                <input type="submit" name="name" value="Login" />
                </td>
    <td></td>
    <td>
                <input type="reset" name="name" value="Clear" />
            </td>
        </tr>
        </table>

}


    </div>

</body>
</html>
